
.cardStyle {
    border-radius: 3px;
    margin: 1%;
}

.curvedToolbarBorder {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.textStyle {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    margin: 0.8em 0 1.6em;
}