
<md-sidenav
    class="md-sidenav-left {{vm.style['sidenavbarStyle']}} " 
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')"
    tabindex="-1"
    md-whiteframe="4">
    <md-toolbar  class="{{vm.style['sidenavToolbar']}}" ng-click="vm.changeState(0)">Reusable Front-end Component</md-toolbar>
    
    <hr class="{{vm.style['hrStyle']}}">
    <md-button class="{{vm.style['itemStyle']}}" ng-click="vm.changeState(1)">Getting Started</md-button>
    
    <uib-accordion close-others="true" class="{{vm.style['accordionStyle']}}">
    <div uib-accordion-group class="panel-default accordionHeadingStyle {{vm.style['accordionGroupStyle']}}" is-open="status.isCustomHeaderOpen" >
      <uib-accordion-heading>
        Demos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
      </uib-accordion-heading>
      <md-button class="{{vm.style['itemStyle']}}" ng-click="vm.changeState(2)">Progress-Button</md-button>
      <md-button class="{{vm.style['itemStyle']}}" ng-click="vm.changeState(3)">File Validation Log</md-button>
    </div>
    <div uib-accordion-group class="panel-default accordionHeadingStyle {{vm.style['accordionGroupStyle']}}" is-open="status.open" >
      <uib-accordion-heading>
       Directive<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <md-button class="{{vm.style['itemStyle']}}" ng-click="vm.changeState(4)">progress-button</md-button>
      <md-button class="{{vm.style['itemStyle']}}" ng-click="vm.changeState(5)">file-tabs</md-button>
    </div>
  </uib-accordion>
</md-sidenav>