.panel-title a { 
    cursor: pointer; 
    text-decoration: none;
    color: inherit !important;
}

.accordionHeadingStyle > .panel-heading {
    background:  #8985DB;
    color: white;
}

.mainPageStyle {
    height: 100vh;
    width: 100vw;
}

.dimensions {
    height: 100%;
    width: 100%;
}

code {
    color: #7D79C8;
    background: rgba(0, 0, 0, 0.065)
}

.apiProfileHeader > h2 {
    color: #6461A0;
    margin: 0px;
}

a{
    color: #6461A0;
}

a:visited{
    color: #58558C;
}

a:hover{
    color: #58558C;
}

a:active{
    color: #58558C;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    margin: 0.8em 0 1.6em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 12px 16px;
    vertical-align: top;
    font-size: 1.6rem;
}

tr:nth-child(even){
    background-color: #D1DEEC;
}

tr:nth-child(odd){
    background-color: #E3ECF5;
}

th {
    background-color: #8985DB;
    color: white;
}

td > p {
    margin: 0px;
}

.accordionHeadingStyle div.panel-collapse>div.panel-body{
    padding: 0px;
}