.panel-title a { 
    cursor: pointer; 
    text-decoration: none;
}

.panel-body {
    padding: 0px;
}

.accordionHeadingStyle > .panel-heading {
    background:  #106cc8;
    color: white;
}

.mainPageStyle {
    height: 100vh;
    width: 100vw;
}

.dimensions {
    height: 100%;
    width: 100%;
}

code {
    color: rgb(63,81,181);
}